# Ignore all files in the .rasa/cache/ directory
forms-examples/.rasa/cache/*

# Ignore all .tar.gz files in the models directory
forms-examples/models/*.tar.gz

# Ignore the VS Code settings file
.vscode/settings.json

# Ignore all .pyc files in the actions directory
forms-examples/actions/__pycache__/*.pyc